html {
  scroll-behavior: smooth; 
}

* {
    box-sizing: border-box;
  }

body {
    min-height: 100vh;
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    background-color: #FFFAFA;
    font-size: 17px;
    font-weight: 400;
    line-height: 1.5;
    color: #000000;
}

.container {
  max-width: 1440px;
  margin: 0 auto;
}

.nav-list {
  background-color: #D3D3D3 ;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  list-style: none;
}

.nav-link {
  padding: 0 20px;
  line-height: 50px;
  transition: 0.3s;
  text-decoration: none;
  color: #000000;
  font-weight: bold;
}
.nav-link:hover {
  color: #7B68EE;
}

.main {
  display: flex;
  flex-wrap: wrap;
}

.container.footer {
  height: 70px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  background-color: #D3D3D3;
}

.container.main {
  display: flex;
  flex-wrap: wrap;
}

.section {
  width: 50%;
  border-bottom: 3px solid #696969;
}

@media (max-width: 768px) {
  .section {
    width: 100%;
  }
}

.section-title {
  font-size: 19px;
  font-weight: 400;
  text-transform: uppercase;
  color: #000000;
}

img {
  border-radius: 40px;
}

.foot {
  text-decoration: none;
  color: #000000;
  font-weight: bold;
}